.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #ecf2f7;
  padding-top: 12em;
}

.grocery-container {
  max-width: 500px;
  margin: auto;
  margin-top: 10em;
  padding: 8px;
  background-color: #fff;
}

@media screen and (max-width: 720px) {
  .grocery-container {
    max-width: 100%;
    margin: 2em;
  }
}
